default:
    suites:
        acceptance:
            paths:
                - ./tests/Features
            contexts:
                - Tests\Util\Context\ExchangeContext:
                      repository: '@Core\Domain\Exchange\ExchangeRepository'
                - Tests\Util\Context\OrderContext:
                      repository: '@Core\Domain\Order\OrderRepository'
                - Tests\Util\Context\CredentialsContext:
                      repository: '@Core\Domain\Credentials\CredentialsRepository'
                - Tests\Util\Context\FeatureContext:
                    manager: '@doctrine.orm.entity_manager'
                - Tests\Util\Context\SecurityContext: ~

                - Behat\MinkExtension\Context\MinkContext: ~
                - behatch:context:json

    extensions:
        Behat\Symfony2Extension:
            kernel:
                bootstrap: tests/behat_bootstrap.php
                class: Core\Kernel
        Behat\MinkExtension:
            sessions:
                default:
                    symfony2: ~
        Behatch\Extension: ~
