{
    "timeout": 10,
    "source": {
        "directories": [
            "src/Core/Application",
            "src/Core/Domain"
        ]
    },
    "logs": {
        "text": "var/log/infection.log"
    },
    "mutators": {
        "@default": true
    },
    "testFramework":"phpunit",
    "phpUnit": {
        "customPath": "vendor\/bin\/phpunit"
    }
}
